h1{
  color:red;
  font-size: 80px;
  text-decoration: ; 
  border:  20px dotted yellow;
}
img{
  border-bottom: 5px dashed darkolivegreen;
  border-right: 10px dashed darkcyan;
  align: center;
}
h2{
  color:black;
  font-size: 20px;
  text-decoration: line-through;
  text-decoration-line: color=red;

}
.style1{
  color:palevioletred;
  font-family: 'Times New Roman', Times, serif;
  font-size:30px;
  text-align:left;
}
.style1:hover{
  color: wheat;
  font-style: 10px;
  text-align: center;
}
.style2{
  font-size: 30px;
  color: olive;
  border-bottom:5px solid red;
  border-left: 5px solid red;
}
.style2:active{
  color:blue;
  border:20px solid yellow;
  text-align: left;

}
.style3{
  color:blue;
  text-align: left;
  font-family: verdana;
  font-size: 15px;
 
}
.style3:active{
  color:red;
  border:5px solid yellow;
  text-align: center;
  font-size: 50px;
}
.style4{
  font-size: 30px;
  color: olive;
  border-bottom:5px solid red;
  border-left: 5px solid red;

}
.style5{
  color: blue;
  line-height: 1.5;
}
h3{
  text-align: center;
  border: 5px dotted yellow;
  color: red;
}
.style6{

}
.style6:active{
  color: red;
}