html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.wrap{
    margin: 0 auto;
    width: 1000px;
    background-color:peachpuff;
}
.header{
    width: 860px;
    height: 100px;
    background-color: black;
    color: wheat;
    float: left;
    text-align: center;
    line-height: 6;
    margin-bottom: 10px;
    
}
.header img{
    display: block;
    float: left;
    margin-top: 2px;
    margin-top: 8px;
    margin-left: 8px;
}
.header2{
    width: 100px;
    height: 100px;
    background-color: pink;
    color: black;
    text-align: center;
    line-height: 6;
    float: right;
    margin-left: 14px;
    margin-right: 14px;
    border: 6px dotted red;
}
.main{
    margin-bottom: 20px;
}
.clearfix{
    clear: both;
}
.topmenu1 {
    /* float: right; */
}
.topmenu1 li{
    float: left;
    width: 100px;
    height: 30px;
}
.topmenu1 li a{
    display: block;
    color: pink;
    width: 100px;
    height: 30px;
}
.topmenu li{
    float: left;
    margin-bottom: 10px;
    font-size: 20px;

}
.topmenu li a{
    display: block;
    width: 200px;
    text-decoration-line: none;
    color:whitesmoke;
}
.topmenu li a:active{
    color: red;
    background-color: black;
}
.menu{
    width: 600px;
    height: 100px;
    background: palevioletred;
    color: whitesmoke;
    float: left;
    text-align: center;
    margin-right: 20px;
}
.content{
    width: 360px;
    /* height: 100px; */
    background-color: olive;
    color: coral;
    float: left;
   padding: 0px 0px 0px 0px;
   /* margin-bottom: 20px; */
    line-height: 6;    

}
.clearfix{
    clear: both;
}
.footer{
    width: 1000px;
    height: 100px;
    background-color: gray;
    color: red;
    text-align: center;
    font-size: 30px;
    font-family:  Arial;
    line-height: 3;
}
.buttommenu li{

    float: left;
    
}
.buttommenu li a{
    display: block;
    width: 200px;
    font-size: 30px;
    text-decoration-line: none;
    text-align: center;
    color: black;
    background-color: peru;
    border: 3px solid yellowgreen;
}
.buttommenu li a:hover{
    color: red;
    background-color: black;
}