html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.box{
    height: 150px;
    width: 150px;
    background: black;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 10;
}
.productlist{
    width: 600px;
    /* border: 5px solid red; */
}
.productlist img{
    width: 100%;
    height: 70%;
}
.productlist .sale{
    position: absolute;
    top:0;
    left: 0;
    background: red;
    color: white;
}
.productlist li{
    position: relative;
    float: left;
    width: 127px;
    height: 200px;
    border: 1px solid black;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding-left: 5px;

}
.productlist li h2{
    font-weight: bold;
    color: blue;
    margin-bottom: 20px;
}
.productlist li span{
    color: red;
    font-size: 20px;
}

