html, body,  span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em,  ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.wrap{
    width: 800px;
    margin: auto;
}
.header{
    /* width: 800px; */
    height: 100px;
    display: block;
    border: 3px solid black;
    padding-left: 20px;
    padding-right: 20px;
    
    

}
.content{
    display: block;
    border: 7px solid red;
    /* width: 800px; */
    height: 500px;

    padding-left: 20px;
    padding-right: 20px;
}
.style1{
    color: blue;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}
.style2{
    color: blue;
    display: block;
    padding-top: 0px;
    padding-bottom: 20px;
}
.style3{
    display: block;
    width: 100px;
    height: 30px;
    color: white;
    background-color:blue;
    text-align: center;
    line-height: 2;

}
.style3:hover{
    color: red;


}
a{
    text-decoration: none;
}

.footer{
    background-color: pink;
    display: block;
    /* width: 800px; */
    height: 50px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    line-height: 3;
    border: 3px solid pink;
}